/*
    Colors
*/
/*
    Timing
*/
/*
    Screen Sizes
*/
.no-margin, .no-style, button, input, html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0px; }

.no-padding, .no-style, button, input {
  padding: 0px; }

.no-outline, .no-style, button, input {
  outline: none;
  border: none; }

.no-background, .no-style, button, input {
  background: none; }

.row {
  display: flex;
  flex-direction: row; }

.column {
  display: flex;
  flex-direction: column; }

.items-center {
  align-items: center; }

.content-center {
  align-content: center; }

/*
    Text Styles
*/
.light {
  font-weight: 300; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

/*
    Text Decorations
*/
.overline {
  text-decoration: overline; }

.strikethrough {
  text-decoration: line-through; }

.underline {
  text-decoration: underline; }

.clickable:hover, button:hover, input:hover {
  cursor: pointer; }

* {
  transition: all 0.3s ease; }

html, body {
  min-height: 100vh;
  min-width: 100vw; }
