.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0px;
}

.no-outline {
    outline: none;
    border: none;
}

.no-background {
    background: none;
}

.no-style {
    @extend .no-margin;
    @extend .no-padding;
    @extend .no-outline;
    @extend .no-background;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.content-center {
    align-content: center;
}