/*
    Text Styles
*/
.light{
    font-weight: 300;
}
.bold {
    font-weight: bold;
}
.italic {
    font-style: italic;
}

/*
    Text Decorations
*/
.overline {
    text-decoration: overline;
}
.strikethrough {
    text-decoration: line-through;
}
.underline {
    text-decoration: underline;
}