/*
    Colors
*/
$primary: gray;
$secondary: darkgray;
$tertiary: lightgray;
$background: white;
$text: black;

/*
    Timing
*/
$transition: 0.3s;
$animation: 1s;

/*
    Screen Sizes
*/
$xs: 767px; //Extra small
$sm: 768px; //Small
$md: 992px; //Medium
$lg: 1200px; //Large
$xl: 1400px; //Extra large