@import "variables";
@import "mixins";
@import "layout";
@import "text";
@import "other";

* {
    transition: all $transition ease;
}

html, body {
    @extend .no-margin;
    min-height: 100vh;
    min-width: 100vw;
}

h1, h2, h3, h4, h5, h6, p {
    @extend .no-margin;
}

button {
    @extend .no-style;
    @extend .clickable;
}

input {
    @extend .no-style;
    @extend .clickable;
}